	table {
		border-collapse: collapse;
		width: 100%;
	  }

	th, td {
		border: 1px solid black;
		padding: 2px;
		text-align: center;
	}

	th, td.dia, td.recreo {
		background-color: #AAA;
	}
	  
	td.hueco p{
		color: white;
	}

    td.hueco{
		width:16%;
  	}

	td.hora{
		width:10%;
  	}
  

	td.DWES{
		background-color: rgb(103, 62, 239, 0.8);  
  	}
  	td.DWES.individual{
		background-color:  rgba(103, 62, 239, 0.4);
  	}
  
  	td.DWEC{
		background-color: rgb(40, 245, 40, 0.8);
  	}
  	td.DWEC.individual{
		background-color: rgb(40, 245, 40, 0.4);  
	}

  	td.DIW{
		background-color: rgb(128, 128, 0, 0.8);
  	}
  	td.DIW.individual{
		background-color: rgb(128, 128, 0, 0.4);
  	}
  
  	td.EIE{
		background-color: rgb(220, 22, 22, 0.8);
  	}
  	td.EIE.individual{
		background-color: rgb(220, 22, 22, 0.4);
  	}
  
  	td.DAW{
		background-color: rgb(33, 197, 170, 0.8);
  	}
  	td.DAW.individual{
		background-color: rgb(33, 197, 170, 0.4);
  	}
   
  	.asignatura {
		color:rgb(27, 8, 135);
		text-align:left;
		font-size:1.2em;
		font-weight: bold;
		margin:0;
		position:relative;
		top:0px;
  	}
	
	.doble .asignatura{
		position:relative;
		top: -50px;
	}
  
    .aula {
		color:rgb(149, 1, 1);
		text-align:right;
		position:relative;
		bottom:0px;
		margin:0;
  	}
	
	.doble .aula{
		position:relative;
		bottom: -50px;
	}