  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #000;
    padding: 2px;
    text-align: center;
  }

  th {
    background-color: #AAA;
  }
  
  td  {
	  /*background-color:red;*/
  }
  
  td.DWES{
	  background-color: red;
	  
  }
  
  td.DWEC{
	  background-color: green;
	  
  }
  td.DWEC.individual{
	  background-color: blue;
	  
  }
  
  td.hora{
	  width:10%;
  }
  
  td.hueco{
	  width:16%;
  }
  
  
  p.asignatura {
	text-align:left;
	font-size:1.2em;
	font-weight: bold;
	margin:0;
	position:relative;
	top:0px;
  }
  
  p.aula {
	text-align:right;
	position:relative;
	bottom:0px;
	margin:0;
  }

  th.course {
    text-align: center;
	background-color:yellow;
  }


  
  .asignatura{
	  color:blue;
  }
  
  p.aula{
	  color:red;
  }